.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a79d7;
  color: #fff;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the top */
  width: 100%; /* Make it span the full width */
  z-index: 4; /* Ensure it stays above other content */
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-right: 10px;
  width: 25px;
  height: 30px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    align-items: center; /* Changed to center */
    background-color: #1a79d7;
    border-radius: 5px;
  }

  .navLinks.active {
    display: flex;
    z-index: 3;
  }

  .hamburger {
    display: flex;
  }
}
